@import "normalize.css/normalize.css";
.languages {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
@media (min-width: 768px) {
  .languages {
    margin: 0 30px 0 0;
  }
}
.languages a {
  padding: 0 20px 0 0;
  text-decoration: none;
}
.languages a:hover {
  text-decoration: underline;
}

.logo {
  width: 200px;
  margin: 30px 0 0 20px;
}
@media (min-width: 768px) {
  .logo {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  width: 100%;
}

#start {
  padding: 0 0 20px 0;
  border-bottom: 2px solid red;
}
#start nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 768px) {
  #start nav {
    display: block;
  }
}

#start nav button {
  border: 0;
  margin: 0 10px 10px 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 50px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  #start {
    padding: 0;
  }
  #start nav button {
    display: none;
  }
}
#menu.visible {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  left: 0;
  background: white;
  width: 100%;
  border-bottom: 2px solid #000000;
}

#menu.visible a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-left: 0;
  font-size: 18px;
  border-top: 1px solid #5a5a5a;
}

.nav-list {
  display: none;
  padding: 0 10px 0 10px;
}
.nav-list a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    padding: 0 100px 15px 100px;
  }
}
.nav-list a {
  font-size: 20px;
}
.nav-list__logo {
  display: none;
}
@media (min-width: 768px) {
  .nav-list__logo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;
    margin: auto;
  }
}
.nav-list__flag {
  display: none;
}
@media (min-width: 768px) {
  .nav-list__flag {
    display: flex;
    width: 60px;
    height: auto;
    margin: auto;
  }
}

.disappear {
  display: none;
}
@media (min-width: 768px) {
  .disappear {
    display: flex;
    justify-content: center;
  }
}

.nav-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.nav-list a {
  text-decoration: none;
  align-items: flex-start;
}

.picture {
  width: 100%;
  height: auto;
}

#meet-us {
  display: flex;
  flex-direction: column;
  position: relative;
}

#meet-us li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.block {
  display: block;
}

#meet-us-position {
  position: absolute;
  left: 10%;
  top: 23%;
  margin: 0 33% 0 0;
  padding: 0;
}
#meet-us-position h1 {
  font-size: 25px;
}
#meet-us-position p {
  display: none;
  font-family: "montserrat", sans-serif;
}
#meet-us-position .block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 35px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  background: #dc0005;
  text-decoration: none;
}
@media (min-width: 768px) {
  #meet-us-position {
    margin: 0 55% 0 0;
  }
  #meet-us-position h1 {
    font-size: 4vw;
    margin: 0 0 10px 0;
  }
  #meet-us-position p {
    display: block;
    font-size: 1.5vw;
    margin: 0 0 30px 0;
  }
  #meet-us-position .block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.5vw;
    height: 7.5vh;
    color: #ffffff;
    font-size: 1.5vw;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background: #dc0005;
  }
  #meet-us-position a:hover {
    background-color: #cc0005;
    text-decoration: underline;
  }
}

#activities {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 60px;
  padding: 0;
  color: #5a5a5a;
}
@media (min-width: 768px) {
  #activities {
    display: flex;
    justify-content: flex-start;
  }
}
#activities h1 {
  font-size: 35px;
  font-weight: bold;
}
@media (min-width: 768px) {
  #activities h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 46.9px 60px;
  }
}
#activities p {
  text-decoration: underline;
}
@media (min-width: 768px) {
  #activities p {
    display: none;
  }
}

.picture-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0;
}
@media (min-width: 768px) {
  .picture-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 40px 10px 40px;
    padding: 0 0 20px 0;
  }
}
.picture-section li {
  margin: 0;
  list-style: none;
  padding: 20px;
}
.picture-section img {
  width: 150px;
  height: auto;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .picture-section img {
    width: 300px;
    height: auto;
  }
}
.picture-section p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 10px 0 0 0;
  color: #5a5a5a;
  font-weight: bold;
}
@media (min-width: 768px) {
  .picture-section p {
    font-size: 35px;
    font-weight: bold;
  }
}

#read {
  display: none;
}
@media (min-width: 768px) {
  #read {
    display: flex;
    justify-content: flex-end;
    margin: 0 100px 0 0;
  }
}

#marketing-video {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 0 0 0;
  margin: 0;
}

.section-color {
  margin: 0;
  background-color: #e4e4e4;
  padding: 0 0 40px 0;
}

#products {
  display: flex;
  justify-content: center;
}

#products-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 20px 0;
}
@media (min-width: 768px) {
  #products-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    margin: 0 100px;
  }
}
#products-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#products-list img {
  width: 200px;
  height: auto;
  border-radius: 20px;
}
@media (min-width: 768px) {
  #products-list img {
    padding: 60px 0 0 0;
    width: 300px;
    height: auto;
    border-radius: 20px;
  }
}
#products-list p {
  text-align: center;
  font-size: 20px;
  margin: 10px 0 0 0;
  color: #5a5a5a;
  font-weight: bold;
}
@media (min-width: 768px) {
  #products-list p {
    font-size: 35px;
    font-weight: bold;
  }
}

#news {
  margin: 0 60px;
}
#news h1 {
  display: flex;
  align-items: flex-start;
  margin: 46.9px 13%;
  padding: 0;
  color: #5a5a5a;
  font-size: 35px;
  font-weight: bold;
}
@media (min-width: 768px) {
  #news h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 46.9px 60px;
  }
}
#news img {
  width: 200px;
  height: auto;
  border-radius: 20px;
}
@media (min-width: 768px) {
  #news img {
    padding: 0;
    width: 300px;
    height: auto;
    border-radius: 20px;
  }
}

#contact {
  background-color: #e4e4e4;
}
#contact h1 {
  display: flex;
  margin: auto;
  padding: 60px 0 0 0;
  justify-content: center;
  color: #5a5a5a;
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  #contact h1 {
    font-size: 50px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border: none;
}
@media (min-width: 768px) {
  .contact {
    flex-direction: row;
    margin: 0 200px;
  }
}
@media (min-width: 1600px) {
  .contact {
    margin: 0 400px;
  }
}
.contact__label {
  flex-grow: 1;
  background-color: #e4e4e4;
  width: 90%;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .contact__label {
    width: 30%;
    margin: 20px 20px;
  }
}
.contact__input {
  border: none;
  border-radius: 15px;
  height: 70px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.contact__input-text_area {
  padding: 120px 10px;
  height: 250px;
}
.contact__input-checkbox {
  height: 45px;
}
.contact__input-checkbox input {
  width: 5px;
}

.contact-checkbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}
.contact-checkbox__label {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}
.contact-checkbox__label p {
  align-items: flex-start;
  padding: 0 0 0 10px;
}

.contact-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.contact-submit input {
  display: block;
  width: 221px;
  height: 70px;
  border: none;
  border-radius: 20px;
  background-color: #dc0005;
  font-size: 20px;
  color: #ffffff;
}
.contact-submit input:hover {
  text-decoration: underline;
  background-color: #cc0004;
}

.contact-padding {
  padding: 0 0 20px 0;
}

:root {
  color: #000000;
  font-family: "montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 87.5%;
}

* {
  box-sizing: inherit;
}

a {
  color: #5a5a5a;
}
@media (min-width: 768px) {
  a:hover {
    text-decoration: none;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer li {
  list-style: none;
}
.footer__picture {
  display: flex;
  align-content: center;
  padding: 0;
}
.footer__picture li {
  display: flex;
}
.footer__picture li img {
  width: 100px;
}
@media (min-width: 768px) {
  .footer__picture li img {
    width: 200px;
  }
}
.footer__company-data {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.footer__company-data ul {
  margin: 0 10px 0 0;
}
.footer__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
}
.footer__description p {
  margin: 0;
  font-size: 6px;
}
@media (min-width: 768px) {
  .footer__description p {
    font-size: 12px;
  }
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
}
.footer__social-media li {
  margin: 7px;
}
@media (min-width: 768px) {
  .footer__social-media li {
    margin: 0 0 0 40px;
  }
}
.footer__social-media li img {
  width: 20px;
  margin: 0 5px 0 0;
}
@media (min-width: 768px) {
  .footer__social-media li img {
    width: 50px;
  }
}
.footer__social-media p {
  font-size: 6px;
}
@media (min-width: 768px) {
  .footer__social-media p {
    font-size: 12px;
  }
}

.main {
  background-color: #e4e4e4;
  padding: 0 0 10vh 0;
}

.aerosol-team {
  width: 100%;
  height: auto;
}
.aerosol-team__container {
  margin: 0 0 -4px 0;
}

.family-company {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  font-family: "Flat Antique", "sans-serif";
  color: #5a5a5a;
}
@media (min-width: 768px) {
  .family-company {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 14vw;
    padding: 0 0 15vh 20px;
  }
}
.family-company__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}
@media (min-width: 768px) {
  .family-company__description {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 100px 5vw 0 0;
  }
}
.family-company__description__header {
  font-size: 5vw;
  font-weight: bold;
  padding: 0 10vw 0 15vw;
}
@media (min-width: 768px) {
  .family-company__description__header {
    font-size: 2vw;
    padding: 0;
  }
}
.family-company__description__text-mobile {
  font-size: 3vw;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 5vw;
}
@media (min-width: 768px) {
  .family-company__description__text-mobile {
    display: none;
    font-size: 1vw;
    width: 50%;
    justify-content: flex-start;
  }
}
.family-company__description__text-desktop {
  display: none;
  font-size: 3vw;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 5vw;
}
@media (min-width: 768px) {
  .family-company__description__text-desktop {
    display: flex;
    font-size: 1vw;
    justify-content: flex-start;
    margin: 0;
  }
}
.family-company-picture {
  display: flex;
  margin: 3vh 0 0 0;
  justify-content: center;
  width: 50%;
}
@media (min-width: 768px) {
  .family-company-picture {
    margin: 80px 0 0 0;
  }
}
.family-company-picture img {
  width: 40vw;
  height: 40vw;
}
@media (min-width: 768px) {
  .family-company-picture img {
    width: 30vw;
    height: 30vw;
  }
}

.about-us-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 7vh 0 0 0;
  padding: 0;
  font-family: "Flat Antique", "sans-serif";
  color: #5a5a5a;
}
@media (min-width: 768px) {
  .about-us-info {
    flex-direction: row;
  }
}
.about-us-info-picture {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .about-us-info-picture {
    justify-content: flex-start;
    margin: 5vh 0 0 14vw;
    padding: 0 0 0 20px;
  }
}
.about-us-info-picture img {
  width: 70vw;
}
@media (min-width: 768px) {
  .about-us-info-picture img {
    justify-content: flex-start;
    width: 30vw;
    height: 30vw;
  }
}
.about-us-info-picture-right {
  order: 1;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .about-us-info-picture-right {
    order: 2;
    justify-content: flex-start;
    margin: 5vh 14vw 0 0;
    padding: 0 20px 0 0;
  }
}
.about-us-info-picture-right img {
  order: 1;
  width: 70vw;
}
@media (min-width: 768px) {
  .about-us-info-picture-right img {
    order: 2;
    justify-content: flex-start;
    width: 30vw;
    height: 30vw;
  }
}
.about-us-info__header {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vw;
  font-weight: bold;
}
@media (min-width: 768px) {
  .about-us-info__header {
    font-size: 1.8vw;
    justify-content: flex-start;
    margin: 10vh 0 0 0;
  }
}
.about-us-info__header h1 {
  display: flex;
  margin: 2vh 0 3vh 0;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .about-us-info__header h1 {
    justify-content: flex-start;
    margin: 0 14vw 3vh 5vw;
    padding: 0 20px 0 0;
    text-align: inherit;
  }
}
.about-us-info__header p {
  display: flex;
  justify-content: center;
  margin: 0 10vw;
  font-size: 3vw;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .about-us-info__header p {
    font-size: 1vw;
    margin: 0 15vw 0 5vw;
  }
}
.about-us-info__header-left {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vw;
  font-weight: bold;
}
@media (min-width: 768px) {
  .about-us-info__header-left {
    order: 1;
    font-size: 1.8vw;
    justify-content: flex-start;
    margin: 10vh 0 0 0;
  }
}
.about-us-info__header-left h1 {
  display: flex;
  margin: 2vh 0 3vh 0;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .about-us-info__header-left h1 {
    justify-content: flex-end;
    margin: 0 5vw 3vh 15vw;
    text-align: left;
  }
}
.about-us-info__header-left p {
  display: flex;
  justify-content: center;
  margin: 0 10vw;
  font-size: 3vw;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .about-us-info__header-left p {
    font-size: 1vw;
    margin: 0 5vw 0 15vw;
  }
}

.numbers {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
