.main {
  background-color: #e4e4e4;
  padding: 0 0 10vh 0;
}

.aerosol-team {
  width: 100%;
}
@media (min-width: 768px) {
  .aerosol-team {
    padding: 0 0 100px 0;
  }
}
.aerosol-team__container {
  margin: 0 0 -4px 0;
}

.family-company {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  color: #5a5a5a;
  margin: 0 5vw 0 5vw;
}
@media (min-width: 768px) {
  .family-company {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 15vh 20px;
    margin: 0 5vw 0 8vw;
  }
}
.family-company__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}
@media (min-width: 768px) {
  .family-company__description {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 100px 5vw 0 0;
  }
}
.family-company__description__header {
  font-size: 3.5vw;
  font-weight: bold;
  padding: 0 0 0 0;
  margin: 8vh 0 0 5vw;
  width: 40%;
}
@media (min-width: 768px) {
  .family-company__description__header {
    font-size: 1.8vw;
    padding: 0;
    height: 0;
  }
}
.family-company__description__text-mobile {
  font-size: 3vw;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0 5vw 0 5vw;
}
@media (min-width: 768px) {
  .family-company__description__text-mobile {
    display: none;
    font-size: 1vw;
    width: 50%;
    justify-content: flex-start;
  }
}
.family-company__description__text-desktop {
  display: none;
  font-size: 3vw;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0 5vw 0 5vw;
}
@media (min-width: 768px) {
  .family-company__description__text-desktop {
    display: flex;
    font-size: 1vw;
    justify-content: flex-start;
    margin: 0 0 0 0;
  }
}
.family-company-picture {
  display: flex;
  margin: 3vh 0 0 0;
  justify-content: center;
  width: 50%;
}
@media (min-width: 768px) {
  .family-company-picture {
    margin: 0 0 0 0;
  }
}
.family-company-picture img {
  margin: 2vh 0 0 0;
  width: 40vw;
  height: 40vw;
}
@media (min-width: 768px) {
  .family-company-picture img {
    width: 30vw;
    height: 30vw;
  }
}

.about-us-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 7vh 0 0 0;
  padding: 0;
  color: #5a5a5a;
}
@media (min-width: 768px) {
  .about-us-info {
    flex-direction: row;
  }
}
.about-us-info-picture {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .about-us-info-picture {
    justify-content: flex-start;
    margin: 5vh 0 0 14vw;
    padding: 0 0 0 20px;
  }
}
.about-us-info-picture img {
  width: 70vw;
}
@media (min-width: 768px) {
  .about-us-info-picture img {
    justify-content: flex-start;
    width: 30vw;
    height: 30vw;
  }
}
.about-us-info-picture-right {
  order: 1;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .about-us-info-picture-right {
    order: 2;
    justify-content: flex-start;
    margin: 5vh 14vw 0 0;
    padding: 0 20px 0 0;
  }
}
.about-us-info-picture-right img {
  order: 1;
  width: 70vw;
}
@media (min-width: 768px) {
  .about-us-info-picture-right img {
    order: 2;
    justify-content: flex-start;
    width: 30vw;
    height: 30vw;
  }
}
.about-us-info__header {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vw;
  font-weight: bold;
}
@media (min-width: 768px) {
  .about-us-info__header {
    font-size: 1.8vw;
    justify-content: flex-start;
    margin: 10vh 0 0 0;
  }
}
.about-us-info__header h1 {
  display: flex;
  margin: 2vh 0 3vh 0;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .about-us-info__header h1 {
    justify-content: flex-start;
    margin: 0 14vw 3vh 5vw;
    padding: 0 20px 0 0;
    text-align: inherit;
  }
}
.about-us-info__header p {
  display: flex;
  justify-content: center;
  margin: 0 10vw;
  font-size: 3vw;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .about-us-info__header p {
    font-size: 1vw;
    margin: 0 15vw 0 5vw;
  }
}
.about-us-info__header-left {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vw;
  font-weight: bold;
}
@media (min-width: 768px) {
  .about-us-info__header-left {
    order: 1;
    font-size: 1.8vw;
    justify-content: flex-start;
    margin: 10vh 0 0 0;
  }
}
.about-us-info__header-left h1 {
  display: flex;
  margin: 2vh 0 3vh 0;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .about-us-info__header-left h1 {
    justify-content: flex-end;
    margin: 0 5vw 3vh 15vw;
    text-align: left;
  }
}
.about-us-info__header-left p {
  display: flex;
  justify-content: center;
  margin: 0 10vw;
  font-size: 3vw;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .about-us-info__header-left p {
    font-size: 1vw;
    margin: 0 5vw 0 15vw;
  }
}

.numbers {
  width: 100%;
}

.our-company-main {
  margin: -50px 0 0 0;
  padding: 30px 0 30px 0;
  background-color: #e4e4e4;
  color: #5a5a5a;
}
@media (min-width: 768px) {
  .our-company-main {
    padding: 50px 0 50px 0;
  }
}

.innovations {
  padding: 30px 0 30px 0;
  background-color: #e4e4e4;
  color: #5a5a5a;
}
@media (min-width: 768px) {
  .innovations {
    padding: 50px 0 50px 0;
  }
}
.innovations__header {
  font-size: 8vw;
  margin: 0 0 0 10vw;
  padding: 0;
}
@media (min-width: 768px) {
  .innovations__header {
    font-size: 3.5vw;
    padding: 60px 0 0 0;
    margin: 0 0 0 15vw;
  }
}

.areas-picture {
  width: 100%;
  margin: 0;
}

.areas-of-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 7vh 0 0 0;
  padding: 0;
  color: #5a5a5a;
}
@media (min-width: 768px) {
  .areas-of-activity {
    flex-direction: row;
  }
}
.areas-of-activity-picture {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .areas-of-activity-picture {
    justify-content: flex-start;
    margin: 5vh 0 0 14vw;
    padding: 0 0 0 20px;
  }
}
.areas-of-activity-picture img {
  width: 70vw;
  border-radius: 20%;
}
@media (min-width: 768px) {
  .areas-of-activity-picture img {
    justify-content: flex-start;
    width: 30vw;
    height: 30vw;
  }
}
.areas-of-activity-picture-right {
  order: 1;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .areas-of-activity-picture-right {
    order: 2;
    justify-content: flex-start;
    margin: 5vh 14vw 0 0;
    padding: 0 20px 0 0;
  }
}
.areas-of-activity-picture-right img {
  order: 1;
  width: 70vw;
  border-radius: 20%;
}
@media (min-width: 768px) {
  .areas-of-activity-picture-right img {
    order: 2;
    justify-content: flex-start;
    width: 30vw;
    height: 30vw;
  }
}
.areas-of-activity__header {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vw;
  font-weight: normal;
}
@media (min-width: 768px) {
  .areas-of-activity__header {
    font-size: 2.5vw;
    justify-content: flex-start;
    margin: 10vh 0 0 0;
  }
}
.areas-of-activity__header h1 {
  display: flex;
  margin: 2vh 0 3vh 0;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .areas-of-activity__header h1 {
    justify-content: flex-start;
    margin: 0 14vw 3vh 5vw;
    padding: 0 20px 0 0;
    text-align: inherit;
  }
}
.areas-of-activity__header p {
  display: flex;
  justify-content: center;
  margin: 0 10vw;
  font-size: 3vw;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .areas-of-activity__header p {
    font-size: 1vw;
    margin: 0 15vw 0 5vw;
  }
}
.areas-of-activity__header-left {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vw;
  font-weight: normal;
}
@media (min-width: 768px) {
  .areas-of-activity__header-left {
    order: 1;
    font-size: 2.5vw;
    justify-content: flex-start;
    margin: 10vh 0 0 0;
  }
}
.areas-of-activity__header-left h1 {
  display: flex;
  margin: 2vh 0 3vh 0;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .areas-of-activity__header-left h1 {
    justify-content: flex-start;
    margin: 0 5vw 3vh 15vw;
    text-align: left;
  }
}
.areas-of-activity__header-left p {
  display: flex;
  justify-content: center;
  margin: 0 10vw;
  font-size: 3vw;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .areas-of-activity__header-left p {
    font-size: 1vw;
    margin: 0 5vw 0 15vw;
  }
}
@media (min-width: 768px) {
  .areas-of-activity a:hover {
    background-color: #cc0005;
    text-decoration: underline;
    color: #ffffff;
  }
}

.field {
  list-style: none;
  padding: 0;
  height: 2vw;
}
.field li {
  display: flex;
  justify-content: center;
}
.field__button-left {
  display: flex;
  list-style: none;
  width: 33vw;
  height: 5vh;
  background-color: #dc0005;
  border-radius: 7px;
  margin: 20px 0 0 0;
  text-decoration: none;
}
@media (min-width: 768px) {
  .field__button-left {
    width: 12.5vw;
    height: 6.5vh;
    margin: 6vh 0 0 -12vw;
  }
}
.field__button-left p {
  color: #ffffff;
  font-size: 3.5vw;
  font-weight: bold;
  margin: auto;
}
@media (min-width: 768px) {
  .field__button-left p {
    font-size: 1vw;
  }
}
.field__button-right {
  display: flex;
  list-style: none;
  width: 33vw;
  height: 5vh;
  background-color: #dc0005;
  border-radius: 7px;
  margin: 20px 0 0 0;
  text-decoration: none;
}
@media (min-width: 768px) {
  .field__button-right {
    width: 12.5vw;
    height: 6.5vh;
    margin: 6vh -12vw 0 0;
  }
}
.field__button-right p {
  color: #ffffff;
  font-size: 3.5vw;
  font-weight: bold;
  margin: auto;
}
@media (min-width: 768px) {
  .field__button-right p {
    font-size: 1vw;
  }
}

.products {
  padding: 7vh 0 30px 0;
  color: #5a5a5a;
}
.products__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
}
.products__list a {
  text-decoration: none;
}
.products__list a:hover {
  text-decoration: underline;
  color: #dc0005;
}
.products__list li {
  margin: 0 0 40px 0;
}
@media (min-width: 768px) {
  .products__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4vw;
  }
}
.products__list__item-picture {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px auto;
  width: 60vw;
}
@media (min-width: 768px) {
  .products__list__item-picture {
    width: 20vw;
  }
}
.products__list__item-text {
  display: flex;
  justify-content: center;
  font-size: 8vw;
  font-weight: bold;
  margin: 0 0 0 0;
}
@media (min-width: 768px) {
  .products__list__item-text {
    font-size: 3.3vw;
  }
}

:root {
  color: #000000;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  font-size: 87.5%;
  font-feature-settings: "ss01" 1, "ss03" 1;
  font-weight: 300;
}

* {
  box-sizing: inherit;
}

a {
  color: #5a5a5a;
}
@media (min-width: 768px) {
  a:hover {
    text-decoration: none;
  }
}

body {
  margin: 0;
  padding: 0;
}

.carrier {
  background-color: #e4e4e4;
}

.carrier-picture {
  width: 100%;
}
@media (min-width: 768px) {
  .carrier-picture {
    padding: 0 0 100px 0;
    background-color: #ffffff;
  }
}

.order {
  display: flex;
  flex-direction: column;
}
.order__container {
  width: 100vw;
}
@media (min-width: 768px) {
  .order__container {
    width: 40vw;
  }
}
.order__job-offers {
  order: 1;
  padding: 30px 0 30px 0;
}
@media (min-width: 768px) {
  .order__job-offers {
    order: 2;
    background-color: #e4e4e4;
    padding: 60px 0 60px 0;
    display: flex;
    flex-direction: row;
  }
}
.order__job-offers__header {
  text-align: center;
  color: #5a5a5a;
  margin: 0 25vw 3vh 25vw;
  font-size: 8vw;
  font-weight: bold;
}
@media (min-width: 768px) {
  .order__job-offers__header {
    font-size: 3vw;
    text-align: left;
    margin: 0 5vw 0 15vw;
    font-weight: bold;
  }
}
.order__job-offers__list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style: none;
}
@media (min-width: 768px) {
  .order__job-offers__list {
    margin: 10vh 0 0 15vw;
    padding: 0;
  }
}
.order__job-offers__list-item {
  display: flex;
}
@media (min-width: 768px) {
  .order__job-offers__list-item {
    width: 50vw;
  }
}
.order__job-offers__list-item a:hover {
  text-decoration: underline;
  color: #dc0005;
}
.order__job-offers__list-item-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-decoration: none;
  margin: 0 0 0 20px;
  color: #5a5a5a;
  font-size: 5vw;
}
@media (min-width: 768px) {
  .order__job-offers__list-item-text {
    font-size: 1.5vw;
  }
}
.order__job-offers__list-employee {
  display: none;
}
@media (min-width: 768px) {
  .order__job-offers__list-employee {
    display: flex;
    margin: 25vh 0 0 17vw;
    width: 32vw;
    height: 32vw;
  }
}
.order__job-offers__picture {
  width: 7vw;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .order__job-offers__picture {
    width: 3vw;
  }
}
.order__benefits {
  order: 2;
  background-color: #e4e4e4;
}
@media (min-width: 768px) {
  .order__benefits {
    order: 1;
    background-color: #ffffff;
  }
}
.order__benefits__header {
  margin: 0 0 40px 0;
  padding: 20px 0 0 0;
  text-align: center;
  color: #5a5a5a;
}
@media (min-width: 768px) {
  .order__benefits__header {
    font-size: 3vw;
  }
}
.order__benefits-picture {
  border-radius: 50%;
  width: 33vw;
}
@media (min-width: 768px) {
  .order__benefits-picture {
    width: 7vw;
  }
}
.order__benefits__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .order__benefits__list {
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
  }
  .order__benefits__list li {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 10vw;
  }
}
.order__benefits__list-text {
  display: flex;
  justify-content: center;
  font-size: 6vw;
  width: 33vw;
  text-align: center;
  padding: 0 0 30px 0;
  color: #5a5a5a;
  font-weight: bold;
}
@media (min-width: 768px) {
  .order__benefits__list-text {
    font-size: 1.1vw;
    width: 7vw;
  }
}

.contact-picture {
  width: 100%;
}

.departments {
  background-color: #e4e4e4;
  color: #5a5a5a;
  padding: 0 0 30px 0;
}
.departments__contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .departments__contact {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 30vh;
    padding: 13vh 0;
    text-align: left;
  }
}
.departments__contact__header {
  margin: 20px 0 10px 0;
  font-size: 7vw;
}
@media (min-width: 768px) {
  .departments__contact__header {
    font-size: 2vw;
  }
}
.departments__contact__text {
  margin: 0;
  padding: 0;
  font-size: 4vw;
}
@media (min-width: 768px) {
  .departments__contact__text {
    font-size: 1vw;
  }
}
.departments__contact__text__section {
  padding: 0;
  margin: 15px 0 0 0;
}

.cosmetics_main {
  background-color: #e4e4e4;
  color: #5a5a5a;
}

.cosmetics {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 0;
}
@media (min-width: 768px) {
  .cosmetics {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10vw;
  }
}
.cosmetics__header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.cosmetics__header-text-mobile {
  display: flex;
  justify-content: center;
  font-size: 5vh;
}
@media (min-width: 768px) {
  .cosmetics__header-text-mobile {
    display: none;
  }
}
.cosmetics__header-text-desktop {
  display: none;
}
@media (min-width: 768px) {
  .cosmetics__header-text-desktop {
    display: flex;
    justify-content: center;
    font-size: 5vh;
  }
}
.cosmetics__header-picture {
  width: 60vw;
}
@media (min-width: 768px) {
  .cosmetics__header-picture {
    width: 30vw;
    margin: 3vh 0 0 0;
  }
}
.cosmetics h1 {
  margin: 5vh 0 2vh 0;
}
@media (min-width: 768px) {
  .cosmetics h1 {
    font-size: 3.5vw;
    margin: -2.5vw 0 0 1.8vw;
  }
}
.cosmetics h2 {
  display: flex;
  margin: 3vh 0 0 13vw;
}
@media (min-width: 768px) {
  .cosmetics h2 {
    margin: 3vh 0 0 5vw;
  }
}

.body-cosmetics {
  list-style: none;
  padding: 0 0 0 13vw;
}
.body-cosmetics li:before {
  content: "- ";
}
@media (min-width: 768px) {
  .body-cosmetics {
    padding: 0 0 0 2vw;
  }
}
.body-cosmetics h2 {
  margin: 0 0 0 0;
  padding: 0;
}
.body-cosmetics li {
  padding: 5px 0 5px 0;
  font-size: 2.3vh;
}

.hair-cosmetics {
  list-style: none;
  padding: 0 0 0 13vw;
}
.hair-cosmetics li:before {
  content: "- ";
}
@media (min-width: 768px) {
  .hair-cosmetics {
    padding: 0 0 0 2vw;
  }
}
.hair-cosmetics li {
  padding: 5px 0 5px 0;
  font-size: 2.3vh;
}

.beard-cosmetics {
  list-style: none;
  padding: 0 0 0 13vw;
}
.beard-cosmetics li:before {
  content: "- ";
}
@media (min-width: 768px) {
  .beard-cosmetics {
    padding: 0 0 0 2vw;
  }
}
.beard-cosmetics li {
  padding: 5px 0 5px 0;
  font-size: 2.3vh;
}

.hygiene_disinfection {
  list-style: none;
  padding: 0 0 0 13vw;
}
.hygiene_disinfection li:before {
  content: "- ";
}
@media (min-width: 768px) {
  .hygiene_disinfection {
    padding: 0 0 0 2vw;
  }
}
.hygiene_disinfection li {
  padding: 5px 0 5px 0;
  font-size: 2.3vh;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .list {
    flex-direction: row;
    padding: 100px;
  }
  .list h2 {
    margin: 5vh 0 0 2vw;
  }
}
.list__second-section {
  width: 100%;
}
@media (min-width: 768px) {
  .list__second-section {
    margin: 1.5vw 0 0 5vw;
  }
}
.list__second-section-household {
  width: 100%;
}
@media (min-width: 768px) {
  .list__second-section-household {
    margin: 5.3vw 0 0 5vw;
  }
}
.list__second-section-technical {
  width: 100%;
}
@media (min-width: 768px) {
  .list__second-section-technical {
    margin: 7.5vw 0 0 5vw;
  }
}

.EU_projects_main {
  background-color: #e4e4e4;
  color: #5a5a5a;
  padding: 0 0 30px 0;
}
.EU_projects_main__picture {
  width: 100%;
  margin: 0 0 20px 0;
}

.eu_projects {
  margin: 2vh 10vw;
  padding: 0;
  list-style: none;
  line-height: 1.7em;
}
@media (min-width: 768px) {
  .eu_projects {
    margin: 5vh 10vw;
    font-size: 1.1vw;
  }
}
.eu_projects__header {
  margin: 0;
  font-size: 4vw;
}
@media (min-width: 768px) {
  .eu_projects__header {
    font-size: 1.1vw;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 4vw;
}
@media (min-width: 768px) {
  .footer {
    margin: 0 6vw;
    padding: 20px;
  }
}
.footer li {
  list-style: none;
}
.footer__picture {
  display: flex;
  align-content: center;
  padding: 0;
}
.footer__picture li {
  display: flex;
}
.footer__picture li img {
  width: 10vw;
}
@media (min-width: 768px) {
  .footer__picture li img {
    width: 5.5vw;
  }
}
.footer__company-data {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.footer__company-data ul {
  margin: 0 20px 0 0;
}
.footer__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
  color: #707070;
}
@media (min-width: 768px) {
  .footer__description {
    line-height: 1vw;
  }
}
.footer__description p {
  margin: 0;
  font-size: 2vw;
}
@media (min-width: 768px) {
  .footer__description p {
    font-size: 0.7vw;
  }
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
}
.footer__social-media li {
  margin: 7px;
}
@media (min-width: 768px) {
  .footer__social-media li {
    margin: 0 0 0 40px;
  }
}
.footer__social-media li img {
  width: 20px;
  margin: 0 1vw 0 0;
}
@media (min-width: 768px) {
  .footer__social-media li img {
    width: 1.7vw;
  }
}
.footer__social-media p {
  font-size: 6px;
}
@media (min-width: 768px) {
  .footer__social-media p {
    font-size: 12px;
  }
}

.languages {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
@media (min-width: 768px) {
  .languages {
    margin: 0 30px 0 0;
  }
}
.languages a {
  padding: 0 20px 0 0;
  text-decoration: none;
}
.languages a:hover {
  text-decoration: underline;
}
.languages__europe-flag {
  display: flex;
  width: 8vw;
  padding: 1vh 0 1vh 0;
}
@media (min-width: 768px) {
  .languages__europe-flag {
    display: none;
  }
}

.logo {
  width: 200px;
  margin: 30px 0 0 20px;
}
@media (min-width: 768px) {
  .logo {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  width: 100%;
}

#start {
  padding: 0 0 20px 0;
  border-bottom: 2px solid red;
  width: 100%;
}
#start nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 768px) {
  #start nav {
    display: block;
  }
}

#start nav i {
  border: 0;
  margin: 0 10px 10px 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 50px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  #start nav i {
    display: none;
  }
}

@media (min-width: 768px) {
  #start {
    padding: 0;
  }
  #start nav button {
    display: none;
  }
}
#menu.visible {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  left: 0;
  background: white;
  width: 100%;
  border-bottom: 2px solid #000000;
}

#menu.visible a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-left: 0;
  font-size: 18px;
  border-top: 1px solid #5a5a5a;
}

.nav-list {
  display: none;
  padding: 0 10px 0 10px;
}
.nav-list a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    padding: 0 100px 15px 100px;
  }
}
.nav-list a {
  font-size: 1.1vw;
}
.nav-list__logo {
  display: none;
}
@media (min-width: 768px) {
  .nav-list__logo {
    display: flex;
    justify-content: center;
    width: 15vw;
    height: auto;
    margin: auto;
  }
}
.nav-list__flag {
  display: none;
}
@media (min-width: 768px) {
  .nav-list__flag {
    display: flex;
    width: 3vw;
    height: auto;
    margin: auto;
  }
}

.disappear {
  display: none;
}
@media (min-width: 768px) {
  .disappear {
    display: flex;
    justify-content: center;
  }
}
.disappear__desktop {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .disappear__desktop {
    display: none;
  }
}

.nav-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.nav-list a {
  text-decoration: none;
  align-items: flex-start;
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 10vw;
  padding: 0;
  color: #5a5a5a;
  font-size: 4vw;
}
@media (min-width: 768px) {
  .privacy-policy {
    font-size: 1.1vw;
  }
}
.privacy-policy__picture {
  width: 100%;
  margin: 0 0 40px 0;
}
.privacy-policy__header {
  font-size: 4vw;
  margin: 0 0 25px 0;
}
@media (min-width: 768px) {
  .privacy-policy__header {
    font-size: 1.1vw;
  }
}
.privacy-policy__subtitle {
  font-size: 4vw;
  margin: 0 0 15px 0;
}
@media (min-width: 768px) {
  .privacy-policy__subtitle {
    font-size: 1.1vw;
  }
}
.privacy-policy__paragraph {
  margin: 0 0 15px 0;
}

.picture {
  width: 100%;
  height: auto;
}

#meet-us {
  display: flex;
  flex-direction: column;
  position: relative;
}

.meet-us li {
  list-style: none;
  padding: 0;
}
.meet-us li p {
  font-weight: normal;
  padding: 0;
}

.block {
  display: block;
}

#meet-us-position {
  position: absolute;
  left: 10%;
  top: 23%;
  margin: 0 33% 0 0;
  padding: 0;
}
#meet-us-position h1 {
  font-size: 5vw;
}
#meet-us-position p {
  display: none;
}
#meet-us-position .block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21vw;
  height: 35px;
  color: #ffffff;
  font-size: 2vw;
  font-weight: bold;
  border-radius: 15px;
  background: #dc0005;
  text-decoration: none;
  text-align: center;
}
@media (min-width: 768px) {
  #meet-us-position {
    margin: 0 55% 0 0;
  }
  #meet-us-position h1 {
    font-size: 4vw;
    margin: 0 0 10px 0;
  }
  #meet-us-position p {
    display: flex;
    font-size: 1.5vw;
  }
  #meet-us-position .block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19vw;
    height: 7.5vh;
    color: #ffffff;
    font-size: 1.5vw;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background: #dc0005;
  }
  #meet-us-position a:hover {
    background-color: #cc0005;
    text-decoration: underline;
  }
}

#activities {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 0;
  padding: 0;
  color: #5a5a5a;
}
@media (min-width: 768px) {
  #activities {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 2.5vw;
  }
}
#activities h1 {
  font-size: 5vw;
  width: 25%;
}
@media (min-width: 768px) {
  #activities h1 {
    font-size: 3vw;
    margin: 46.9px 60px;
    width: 100%;
  }
}
#activities p {
  text-decoration: underline;
}
@media (min-width: 768px) {
  #activities p {
    display: none;
  }
}

.picture-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0;
}
@media (min-width: 768px) {
  .picture-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 40px 10px 40px;
    padding: 0 0 20px 0;
  }
}
.picture-section li {
  margin: 0;
  list-style: none;
  padding: 20px;
}
.picture-section img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
@media (min-width: 1000px) {
  .picture-section img {
    width: 16.5vw;
    height: auto;
  }
}
.picture-section p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30vw;
  text-align: center;
  font-size: 4vw;
  margin: 10px 0 0 0;
  color: #5a5a5a;
  font-weight: bold;
}
@media (min-width: 1000px) {
  .picture-section p {
    width: 16.5vw;
  }
}
@media (min-width: 768px) {
  .picture-section p {
    font-size: 2vw;
    font-weight: bold;
  }
}

#read {
  display: none;
}
@media (min-width: 768px) {
  #read {
    display: flex;
    justify-content: flex-end;
    margin: 0 100px 0 0;
  }
}

#marketing-video {
  z-index: 1;
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 0 0 0;
  margin: 0;
  position: relative;
}

.section-color {
  margin: 0;
  background-color: #e4e4e4;
  padding: 0 0 40px 0;
}

#products {
  display: flex;
  justify-content: center;
}

#products-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 20px 0;
}
@media (min-width: 768px) {
  #products-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    margin: 0 100px;
  }
}
#products-list a {
  text-decoration: none;
}
#products-list a:hover {
  text-decoration: underline;
  color: #dc0005;
}
#products-list a:hover p {
  color: #dc0005;
}
#products-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#products-list img {
  width: 40vw;
  height: auto;
  border-radius: 20px;
}
@media (min-width: 768px) {
  #products-list img {
    padding: 60px 0 0 0;
    width: 16.5vw;
    height: auto;
    border-radius: 20px;
  }
}
#products-list p {
  text-align: center;
  font-size: 6vw;
  margin: 10px 0 0 0;
  color: #5a5a5a;
  font-weight: bold;
  text-decoration: none;
}
@media (min-width: 768px) {
  #products-list p {
    font-size: 2vw;
    font-weight: bold;
  }
}

#news {
  margin: 0 60px;
}
#news h1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  color: #5a5a5a;
  font-size: 35px;
  font-weight: bold;
}
@media (min-width: 768px) {
  #news h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 46.9px 13%;
    justify-content: normal;
  }
}
#news img {
  width: 40vw;
  height: auto;
  border-radius: 20px;
}
@media (min-width: 768px) {
  #news img {
    padding: 0;
    width: 16.5vw;
    height: auto;
    border-radius: 20px;
  }
}

#contact {
  background-color: #e4e4e4;
}
#contact h1 {
  display: flex;
  margin: auto;
  padding: 60px 0 0 0;
  justify-content: center;
  color: #5a5a5a;
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  #contact h1 {
    font-size: 50px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border: none;
}
@media (min-width: 768px) {
  .contact {
    flex-direction: row;
    margin: 0 200px;
  }
}
@media (min-width: 1600px) {
  .contact {
    margin: 0 400px;
  }
}
.contact__label {
  flex-grow: 1;
  background-color: #e4e4e4;
  width: 90%;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .contact__label {
    width: 30%;
    margin: 20px 20px;
  }
}
.contact__input {
  border: none;
  border-radius: 15px;
  height: 70px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.contact__input-text_area {
  padding: 120px 10px;
  height: 250px;
  font-family: "Futura PT", "sans-serif";
}
.contact__input-checkbox {
  height: 45px;
}
.contact__input-checkbox input {
  width: 5px;
}

.contact-checkbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}
.contact-checkbox__label {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Futura", sans-serif;
}
.contact-checkbox__label p {
  align-items: flex-start;
  padding: 0 0 0 10px;
}

.contact-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.contact-submit input {
  display: block;
  width: 221px;
  height: 70px;
  border: none;
  border-radius: 20px;
  background-color: #dc0005;
  font-size: 20px;
  color: #ffffff;
}
.contact-submit input:hover {
  text-decoration: underline;
  background-color: #cc0004;
}

.contact-padding {
  padding: 0 0 20px 0;
}

/*# sourceMappingURL=styles.css.map */
