@use 'config' as *;

.main{
  background-color: #e4e4e4;
  padding: 0 0 10vh 0;
}

.aerosol-team{
  width: 100vw;
  
  @media (min-width: $breakpointHD) {
    padding: 0 0 100px 0;
  }

  &__container{
    margin: 0 0 -4px 0;
  }
}

.family-company{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  color: $ternarycolor;
  margin: 0 5vw 0 5vw;

  @media (min-width: $breakpointHD) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 15vh 20px;
    margin: 0 5vw 0 14vw;
  }

  &__description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;

    @media (min-width: $breakpointHD) {
      display: flex;
      flex-wrap: wrap;
      width: 40%;
      margin: 100px 5vw 0 0;
    }

    &__header {
      font-size: 4vw;
      font-weight: bold;
      padding: 0 10vw 0 15vw;
      margin: 10vh 0 0 0;

      @media (min-width: $breakpointHD) {
        font-size: 1.8vw;
        padding: 0;
      }
    }

    &__text-mobile{
      font-size: 3vw;
      font-weight: bold;
      line-height: 1.5em;
      margin: 0 5vw 0 5vw;

      @media (min-width: $breakpointHD) {
        display: none;
        font-size: 1vw;
        width: 50%;
        justify-content: flex-start;
      }
    }

    &__text-desktop{
      display: none;
      font-size: 3vw;
      font-weight: bold;
      line-height: 1.5em;
      margin: 0 5vw 0 5vw;

      @media (min-width: $breakpointHD) {
        display: flex;
        font-size: 1vw;
        justify-content: flex-start;
        margin: 0 0 0 0;
      }
    }
  }

  &-picture{
    display: flex;
    margin: 3vh 0 0 0;
    justify-content: center;
    width: 50%;

    @media (min-width: $breakpointHD) {
      margin: 0 0 0 0;
    }

    img{
      margin: 5vh 0 0 0;
      width: 40vw;
      height: 40vw;

      @media (min-width: $breakpointHD) {
        width:30vw;
        height: 30vw;
      }
    }
  }
}

.about-us-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 7vh 0 0 0;
  padding: 0;
  color: $ternarycolor;

  @media (min-width: $breakpointHD) {
    flex-direction: row;
  }

  &-picture{
    display: flex;
    justify-content: center;

    @media (min-width: $breakpointHD) {
      justify-content: flex-start;
      margin: 5vh 0 0 14vw;
      padding: 0 0 0 20px;
    }

    img {
      width: 70vw;
      
      @media (min-width: $breakpointHD) {
        justify-content: flex-start;
        width: 30vw;
        height: 30vw;
      }
    }
  }

  &-picture-right{
    order: 1;
    display: flex;
    justify-content: center;

    @media (min-width: $breakpointHD) {
      order: 2;
      justify-content: flex-start;
      margin: 5vh 14vw 0 0;
      padding: 0 20px 0 0;
    }

    img {
      order: 1;
      width: 70vw;

      @media (min-width: $breakpointHD) {
        order: 2;
        justify-content: flex-start;
        width: 30vw;
        height: 30vw;
      }
    }
  }

  &__header{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vw;
    font-weight: bold;

    @media (min-width: $breakpointHD) {
      font-size: 1.8vw;
      justify-content: flex-start;
      margin: 10vh 0 0 0;
    }

    h1{
      display: flex;
      margin: 2vh 0 3vh 0;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      @media (min-width: $breakpointHD) {
        justify-content: flex-start;
        margin: 0 14vw 3vh 5vw;
        padding: 0 20px 0 0;
        text-align: inherit;
      }
    }

    p{
      display: flex;
      justify-content: center;
      margin: 0 10vw;
      font-size: 3vw;
      line-height: 1.5em;

      @media (min-width: $breakpointHD) {
        font-size: 1vw;
        margin: 0 15vw 0 5vw;
      }
    }
  }

  &__header-left{
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vw;
    font-weight: bold;

    @media (min-width: $breakpointHD) {
      order: 1;
      font-size: 1.8vw;
      justify-content: flex-start;
      margin: 10vh 0 0 0;
    }

    h1{
      display: flex;
      margin: 2vh 0 3vh 0;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      @media (min-width: $breakpointHD) {
        justify-content: flex-end;
        margin: 0 5vw 3vh 15vw;
        text-align: left;
      }
    }

    p{
      display: flex;
      justify-content: center;
      margin: 0 10vw;
      font-size: 3vw;
      line-height: 1.5em;

      @media (min-width: $breakpointHD) {
        font-size: 1vw;
        margin: 0 5vw 0 15vw;
      }
    }
  }
}

.numbers{
  width: 100%
}