@use 'config' as *;

:root {
  color: $primarycolor;
  font-family: $font;
  box-sizing: border-box;
  font-size: 87.5%;
  font-feature-settings: $font-feature;
}

a {
  color: $ternarycolor;

  &:hover {
    @media (min-width: $breakpointHD) {
      text-decoration: none;
    }
  }
}

* {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}
