@use 'config' as *;

:root {
  color: $primarycolor;
  font-family: $font;
  box-sizing: border-box;
  font-size: 87.5%;
}

* {
  box-sizing: inherit;
}

a {
  color: $ternarycolor;

  &:hover {
    @media (min-width: $breakpoint) {
      text-decoration: none;
    }
  }
}
