$primarycolor: #000000;
$secondarycolor: #d43349;
$ternarycolor: #5a5a5a;
$font: 'Jost', sans-serif;
$font-feature: "ss01" 1, "ss03" 1;
$font-weight: 300;

$breakpointHD: 768px;
$breakpointFHD: 1600px;