@use 'config' as *;

.picture{
  width: 100vw;
  height: auto;
}

#meet-us{
  display: flex;
  flex-direction: column;
  position: relative;
}

.meet-us{

  li {
    list-style: none;
    padding: 0;
    margin: 0;

    p{
      font-weight: normal;
      padding: 0;
    }
  }
}

.block{
  display: block;
}

#meet-us-position{
  position: absolute;
  left: 10%;
  top: 23%;
  margin: 0 33% 0 0;
  padding: 0;

  h1{
    font-size: 25px;
  }

  p{
    display: none;
  }

  .block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    background: #dc0005;
    text-decoration: none;
  }

  @media (min-width: $breakpointHD) {
    margin: 0 55% 0 0;

    h1{
      font-size: 4vw;
      margin: 0 0 10px 0;
    }

    p{
      display: flex;
      font-size: 1.5vw;
    }

    .block{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 19vw;
      height: 7.5vh;
      color: #ffffff;
      font-size: 1.5vw;
      font-weight: bold;
      border: none;
      border-radius: 15px;
      background: #dc0005;
    }

    a:hover{
      background-color: #cc0005;
      text-decoration: underline;
    }
  }
}

#activities{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 60px;
  padding: 0;
  color: $ternarycolor;

  @media (min-width: $breakpointHD) {
    display: flex;
    justify-content: flex-start;
  }

  h1 {
    font-size: 35px;

    @media (min-width: $breakpointHD) {
      font-size: 70px;
      margin: 46.9px 60px;
    }
  }

  p{
    text-decoration: underline;
    @media (min-width: $breakpointHD) {
      display: none;
    }
  }
}

.picture-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0;

  @media (min-width: $breakpointHD) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 40px 10px 40px;
    padding: 0 0 20px 0;
  }

  li{
    margin: 0;
    list-style: none;
    padding: 20px;
  }

  img{
    width: 30vw;
    height: auto;
    border-radius: 20px;

    @media (min-width: $breakpointHD) {
      width: 16.5vw;
      height: auto;
    }
  }

  p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 10px 0 0 0;
    color: $ternarycolor;
    font-weight: bold;

    @media (min-width: $breakpointHD) {
      font-size: 2vw;
      font-weight: bold;
    }
  }
}

#read{
  display: none;

  @media (min-width: $breakpointHD) {
    display: flex;
    justify-content: flex-end;
    margin: 0 100px 0 0;
  }
}

#marketing-video{
  z-index: 1;
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 0 0 0;
  margin: 0;
  position: relative;
}

.section-color{
  margin: 0;
  background-color: #e4e4e4;
  padding: 0 0 40px 0;
}

#products{
  display: flex;
  justify-content: center;
}

#products-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 20px 0;

  @media (min-width: $breakpointHD) {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    margin: 0 100px;
  }

  a{
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
    color: #dc0005;
    p{
      color: #dc0005;
    }
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  img {
    width: 40vw;
    height: auto;
    border-radius: 20px;
    
    @media (min-width: $breakpointHD) {
      padding: 60px 0 0 0;
      width: 16.5vw;
      height: auto;
      border-radius: 20px;
    }
  }

  p {
  text-align: center;
    font-size: 6vw;
    margin: 10px 0 0 0;
    color: $ternarycolor;
    font-weight: bold;
    text-decoration: none;

    @media (min-width: $breakpointHD) {
      font-size: 2vw;
      font-weight: bold;
    }
  }
}

#news{
  margin: 0 60px;

  h1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    color: $ternarycolor;
    font-size: 35px;
    font-weight: bold;

    @media (min-width: $breakpointHD) {
      font-size: 70px;
      font-weight: bold;
      margin: 46.9px 13%;
      justify-content: normal;
    }
  }

  img {
    width: 40vw;
    height: auto;
    border-radius: 20px;

    @media (min-width: $breakpointHD) {
      padding: 0;
      width: 16.5vw;
      height: auto;
      border-radius: 20px;
    }
  }
}

#contact{
  background-color: #e4e4e4;

  h1{
    display: flex;
    margin: auto;
    padding: 60px 0 0 0;
    justify-content: center;
    color: $ternarycolor;
    font-size: 20px;
    font-weight: bold;

    @media (min-width: $breakpointHD) {
      font-size: 50px;
    }
  }
}

.contact{
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border: none;

  @media (min-width: $breakpointHD) {
    flex-direction: row;
    margin: 0 200px;
  }
  @media (min-width: $breakpointFHD) {
    margin: 0 400px;
  }

  &__label{
    flex-grow: 1;
    background-color: #e4e4e4;
    width: 90%;
    margin: 20px 0;

    @media (min-width: $breakpointHD) {
      width: 30%;
      margin: 20px 20px;
    }
  }

  &__input{
    border: none;
    border-radius: 15px;
    height: 70px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

    &-text_area{
      padding: 120px 10px;
      height: 250px;
    }

    &-checkbox{
      height: 45px;

      input{
        width: 5px;
      }
    }
  }
}

.contact-checkbox{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;

  &__label{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;

    p{
      align-items: flex-start;
      padding: 0 0 0 10px;
    }
  }
}

.contact-submit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  input{
    display: block;
    width: 221px;
    height: 70px;
    border: none;
    border-radius: 20px;
    background-color: #dc0005;
    font-size: 20px;
    color: #ffffff;


  }
  input:hover{
    text-decoration: underline;
    background-color: #cc0004;
  }
}

.contact-padding{
  padding: 0 0 20px 0;
}
